// Tailwind CSS directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// Colors
$bg-color: #FDFDFD;
$neutral-color: #666666;
$primary-color: #002B5B;
$secondary-color: #4F81BD;
$success-color: #4FBD70;
$accent-color: #D4AF37;
$error-color: #B4131F;
