<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="space-y-6 h-[30rem] ">
  <div>
    <label for="firstName" class="edit-label">نام:</label>
    <span class="edit-error" *ngIf="formGroup.get('firstName')?.invalid && (formGroup.get('firstName')?.dirty || formGroup.get('firstName')?.touched)">
      <span *ngIf="formGroup.get('firstName')?.hasError('required')">
        این فیلد الزامی است!
      </span>
    </span>
    <input
      id="firstName"
      name="firstName"
      type="text"
      formControlName="firstName"
      class="edit-input"
      dir="rtl"
    />

  </div>

  <div>
    <label for="lastName" class="edit-label">نام خانوادگی:</label>
    <span class="edit-error" *ngIf="formGroup.get('lastName')?.invalid && (formGroup.get('lastName')?.dirty || formGroup.get('lastName')?.touched)">
      <span *ngIf="formGroup.get('lastName')?.hasError('required')">
        این فیلد الزامی است!
      </span>
    </span>
    <input
      id="lastName"
      name="lastName"
      type="text"
      formControlName="lastName"
      class="edit-input"
      dir="rtl"
    />

  </div>

  <div>
    <label for="userName" class="edit-label">نام مستعار:</label>
    <span class="edit-error" *ngIf="formGroup.get('userName')?.invalid && (formGroup.get('userName')?.dirty || formGroup.get('userName')?.touched)">
      <span *ngIf="formGroup.get('userName')?.hasError('required')">
        این فیلد الزامی است!
      </span>
    </span>
    <input
      id="userName"
      name="userName"
      type="text"
      formControlName="userName"
      class="edit-input"
      dir="rtl"
    />

  </div>

  <button class="edit-btn" type="submit">
    تغییر اطلاعات
  </button>
</form>
