@import '../../../../variables';

@layer components {
  .navbar-list {
    @apply flex flex-col justify-start p-4 gap-2;
  }
  .navbar-item {
    @apply text-[2rem] hover:cursor-pointer border-b-2 p-4 transition-all duration-300 delay-75 ease-in-out;
    border-bottom-color: $secondary-color;

    &:hover {
      @apply transition-all duration-300 delay-75 ease-in-out;

      color: $accent-color;
      border-bottom-color: $accent-color;
    }
  }
  .active {
    background: $secondary-color;
  }
}
